.div{
    display: flex;
align-items: center;
    flex-direction: column;
    gap: 50px;
}

.text {
    font-size: 80px;
    text-align: center;
}

.button {
    font-size: 50px;
    text-align: center;
    width: 300px;
    color: rgb(255, 255, 255);
    background-color: rgba(95, 10, 10, 0.349);
    border-radius: 30px;
    padding: 20px 30px;
    border: none;

}

.cards {
    max-width: 500px;
    display: flex;
    gap: 50px;
}

.cardBack { 
    border-radius: 20px;
}